from __future__ import annotations

import pytest

from asphalt.core import Context
from asphalt.{{ project_name }} import {{ component_name }}

pytestmark = pytest.mark.anyio


async def test_component() -> None:
    component = {{ component_name }}()
    async with Context():
        await component.start()
